.div1 {
    height: 500px;
    border: 5px solid green;
    background-image: url("../images/photo-1507525428034-b723cf961d3e.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}