.container {
    background-color: orange;
}

.alex {
    background-color: pink;
    font-size: 45px;
    vertical-align: middle;
}

.ben {
    background-color: green;
    font-size: 10px;
    vertical-align: middle;
}

.chris {
    background-color: yellow;
    font-size: 20px;
    vertical-align: middle;
}