body {
    margin: 0;
    min-width: 768px;
    font-family: 'Noto Sans KR', sans-serif;
  }
  
  /* side navbar */
  
  #side-navbar {
    background-color: black;
    height: 100%;
    width: 250px;
    position: fixed;
  }
  #side-navbar li:not(:last-child) {
    margin-bottom: 30px;
  }
  
  #side-navbar li:last-child {
    margin-bottom: 60px;
  }
  
  #logo {
    width: 136px;
    display: block;
    margin: 30px auto 50px auto;
  }
  
  /* main */
  
  #main {
    margin-left: 250px;
  }
  
  #main .hero-header {
    text-align: center;
    background-image: url("../images/hero_header.jpg");
    background-size: cover;
    background-position: center center;
    height: 750px;
    line-height: 750px;
  }
  
  #main .info {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
  }
  
  #main h1 {
    margin: 0;
    margin-bottom: 40px;
    color: white;
    font-size: 38px;
  }
  
  #main a {
    padding: 10px 40px;
    border: 2px solid white;
    font-size: 18px;
    color: white;
    text-decoration: none;
  }
  
  .list {
    color: white;
    list-style: none;
    padding-left: 22px;
  }
  
  .socialmedia {
    margin-top: 25px;
    text-align: center;
  }
  
  #facebook {
    margin-right: 13px;
    width: 22px;
  }
  
  #twitter {
    width: 25px;
  }